body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#logo {
	width: 99px;
	height: 24px;
}
.navbar-brand {
	padding: 10px 15px;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.quote {
	font-family: georgia, garamond, serif;
    margin: 0 20px;
}